<% content_for :body_class, "home" %>

<div class="bg">
  <h1 class="head-title">Would You Rather</h1>


  <div class="questions-block">
    <div class="question">
      <h2 class="title">
        Lorem ipsum dolor sit amet ?
      </h2>
    </div>
    <div class="answers">
      <div class="answer-wrap">
        <div class="one answer">
          <div class="inner">
            <h3 class="text">Réponse n°1</h3>
          </div>

          <div class="result">
            <h3 class="percentage" data-value="70">70%</h3>
            <h3 class="desc"> Think that <span>Réponse n°1</span></h3>
          </div>
        </div>
      </div>
      <div class="answer-wrap">
        <div class="two answer">
          <div class="inner">
            <h3 class="text">Réponse n°2</h3>
          </div>

          <div class="result">
            <h3 class="percentage" data-value="70">70%</h3>
            <h3 class="desc"> Think that <span>Réponse n°1</span></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
