<table border="1">
  <tr>
    <th>ID</th>
    <th>Label</th>
    <th>Action</th>
  </tr>
  <% if @questions.any? %>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.id %></td>
        <td><%= question.label %></td>
        <td><%= link_to 'Editer', edit_question_path(1) %></td>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="3">Il n'y a aucune question</td>
    </tr>
  <% end %>
</table>
