<h2>Question : </h2>
<h3><%= @question.label %></h3>

<h2>Résultats</h2>
<table border="1">
  <% if @question.responses.any? %>
    <% @question.responses.each do |question| %>
      <tr>
        <td><%= question.label %></td>
        <td></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <td>Total</td>
    <td></td>
  </tr>
</table>

<%= link_to 'Supprimer', @question, method: :delete,
            data: {confirm: 'Êtes-vous sûr(e) de vouloir supprimer cette question ?'} %>
<%= link_to 'Retour', questions_path %>
