<% content_for :body_class, "questions" %>

<h1>Dashboard</h1>
<div class="dashboard-actions">
  <div>
    <%= link_to "Users", users_path %>
  </div>
  <div>
    <%= link_to "Questions", questions_path %>
  </div>
  <div>
    <%= link_to "Deconnexion", users_logout_path %>
  </div>
</div>