<% content_for :body_class, "questions" %>

<h1>Dashboard</h1>
<div class="dashboard-actions">
  <%= link_to "Users", users_path, class: 'button' %>
  <%= link_to "Questions", questions_path, class: 'button' %>
  <%= link_to "Deconnexion", users_logout_path, class: 'button' %>
</div>